services:
    postgres:
      container_name: postgres
      image: postgres:latest
      restart: always
      environment:
        - POSTGRES_USER=${POSTGRES_USER}
        - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
        - POSTGRES_DB=${POSTGRES_DB}
      ports:
        - 5432:5432
      volumes:
        - postgres_data:/var/lib/postgresql/docker
      networks:
        - backend

volumes:
  postgres_data:

networks:
  backend: